# Discord Bot Token (z https://discord.com/developers/applications)
DISCORD_TOKEN=twoj_token_tutaj

# ID Twojego serwera Discord
GUILD_ID=id_serwera_tutaj

# ID kanałów
WELCOME_CHANNEL_ID=id_kanalu_powitania
VERIFICATION_CHANNEL_ID=id_kanalu_weryfikacji
TICKET_CATEGORY_ID=id_kategorii_ticketow
TICKET_ARCHIVE_CATEGORY_ID=id_kategorii_archiwum_ticketow
LOGS_CHANNEL_ID=id_kanalu_logow

# ID ról
VERIFIED_ROLE_ID=id_roli_zweryfikowany
MODERATOR_ROLE_ID=id_roli_moderator
ADMIN_ROLE_ID=id_roli_admin
